includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    level: 10
    paths:
        - src
    ignoreErrors:
        -
            message: '#Method .+make.+ should return static.+ but returns mixed#'
            path: src/PackageNameService.php
