<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    bootstrap="vendor/autoload.php"
    displayDetailsOnTestsThatTriggerWarnings="true"
    backupStaticProperties="false"
    processIsolation="true"
    backupGlobals="false"
    stopOnFailure="true"
    colors="true">
    <!--    <coverage includeUncoveredFiles="false">-->
    <!--        <report>-->
    <!--            <clover outputFile="build/clover.xml"/>-->
    <!--        </report>-->
    <!--    </coverage>-->
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <env name="APP_URL" value="http://test.test/"/>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsm1"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_URL" value="http://localhost"/>
        <env name="CMS_CACHE" value="0"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="REDIS_CLIENT" value="predis"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
